  
        @font-face {
          font-family: "iA";
          src: url("iAWriterQuattroS-Regular.woff2") format("woff2"),
               url("iAWriterQuattroS-Regular.woff") format("woff");
        } 
       
       body {             
          font-family: 'iA', sans-serif;
          text-align: left;
          margin: 0;
          padding: 0;
          background-color: #000;
        }
        
        h1 {

          font-weight: 300;
          font-size: 24px;
          color: #fff;
          text-shadow: none;
          margin-top: 3em;
          margin-bottom: -0.25em;
        }
        
        h2 {
          font-size: 36px;
          text-transform: uppercase;
          font-weight: 600;
          text-shadow: none;
          margin-top: 1em;
          margin-bottom: -0.25em;
        }
     
        .menu {
          font-size: 36px;
          font-style: italic;
          color: #fff;
          animation: fadein 0.5s;
          text-align: center;
          text-shadow: none;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .menu a {
          text-decoration: none;
          border-bottom: none;
          font-style: italic;
          text-transform: none;
          font-weight: 600;
        } 
        
        .head {
          color: #fff;
          font-size: 18px;  
          margin: 36px 0;
          margin-bottom: 1em;
        }
        
        .head a {
          color: #fff;
          font-size: 18px;
          text-decoration: none;
          font-weight: 200;
        }

        .text {
          font-weight: 100;
          font-size: 16px;
          color: #fff;
        }

        a, .topmenu a {
          color: #fff;
          text-decoration: underline;
        }

        .modal {
          position: fixed;
          background-color: #000;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          /*padding: 0 25px;*/
          z-index: 999;
          transition: all 0.3s;     
          overflow: auto;  
          padding-bottom: 4em;
        }

        .modal > div {
          max-width: 768px;
          margin: 0 auto;
          padding: 0 25px;
        }

        .modal > .close {
           padding: 0 25px;
        }

        imagebox {
          display: block;
          margin: 0 auto;
          max-width: 1080px;
        }

        .teaserimage {
          filter: grayscale(100%);
        }

        .modal img {
          margin-top: 2em;
          width: 100%;
        }  
        
        img + p {
          margin-top: -4em;
          margin-bottom: 4em;
          padding-left: 10px;
          text-shadow: #000 1px 1px;
        }

        .mediabox p {
          font-size: 0.8em;
        }

        @media screen and (max-width: 926px) {
          .modal > div {
            max-width: 428px;
            margin: 0 auto;
            }
        }

        .close {
          text-align: right;      
        }

        .close a {
          text-decoration: none;
          border-bottom: none;
          text-shadow: none;
        }

        .portrait {
          width: 100%;
          max-width: 460px;
        }

        .mediabox {
          margin-bottom: 18px;
        }

        #impressum {
          display: none;
        }

        #bio{
          display: none;
        }
        
        #likes {
          display: none;
        }

        #speaker {
          display: none;
        }

        #skills {
          display: none;
        }

        #settings {
          display: none;
        }

        #textarbeit {
          display: none;
        }

        #cases {
          display: none;
        }
        
        #albert1 {
          display: none;
        }

        #einzigartig {
          display: none;
        }
        
        #relax {
          display: none;
        }

     
      