   
      .menubg {
          background-image: url('sky.jpg');
          filter: grayscale(100%);
          background-size: cover;
      }  
      
      
      #impressum:target {
          display: block;
          background-image: url('rescue.jpg');
          filter: grayscale(100%);
          background-size: cover;
          background-position-x: center;
          background-position-y: top;
          background-repeat: no-repeat;
          animation: fadein 0.5s;
        }

        #settings:target {
          display: block;
          /*background-image: url('rescue.jpg');*/
          background-size: cover;
          background-position-x: center;
          background-position-y: top;
          background-repeat: no-repeat;
          animation: fadein 0.5s;
        }
       
        #bio:target {
          display: block;
          background-image: url('me_now.jpg');
          filter: grayscale(100%);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          animation: fadein 0.5s;
        }
        
        #likes:target {
          display: block;
          background-image: url('buskers.jpg');
          filter: grayscale(100%);
          background-repeat: no-repeat;
          background-size: cover;
          animation: fadein 0.5s;
        }

        #skills:target {
          display: block;
          background-image: url('nebelwald.jpg');
          filter: grayscale(100%);
          background-repeat: no-repeat;
          background-size: cover;
          animation: fadein 0.5s;
        }
        
        #speaker:target {
          display: block;
        }

        #textarbeit:target {
          display: block;
        }
        
        #nft:target {
          display: block;
          background-color: #000;
          color: #fff;
        }

        #nft:target a {
          color: #fff;
        }
        
        #relax:target {
          display: flex;
          justify-content: center;
          align-items: center;
          background-image: url('sky.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          font-size: 4em;
        }
        
 