body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 600;
}

h1 {
    font-family: 'Roboto', sans-serif !important;
    /*font-weight: 700 !important;*/
}

.dotted {
    font-family: 'Raleway Dots', cursive !important;
}

.oversize {
        font-size: 6.5em;
}

.large {
    font-size: 2em !important;
}

h1 > a {
    color: #333;
}

h1 > a:hover {
    color: #333 !important;
}

.lead {
    font-family: 'Raleway', sans-serif !important;
}

.slim {
    font-weight: 100 !important;
}

.fat {
    font-weight: 600 !important;
}

.bg {
    /*background: url("http://img3.goipadwallpapers.com/2014/03/05/a17d70f0b142b234_2048x2048.jpg") no-repeat;*/
    /*background: url("img/iOS7-iPad-wallpapers-20.jpg") no-repeat;*/
    background-color: rgba(121,121,121, 1);
    height: 100%;
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    width: 100%;
}

p {
    font-size: 18px;
}

a {
color: #5D93DF;
text-decoration: none !important;
font-size: 18px;
}

a:hover {
   color: #5D93DF !important;
    text-decoration: none !important;
}

a:active {
    text-decoration: none !important;
}

a:visited {
    text-decoration: none !important;
}


.block {
    position: absolute;
    top: 50%;
    width: 100%;
    display: inline-block;
}

.centered {
    position: absolute;
    top: -14em;
    width: 100%;
     text-align: center;
    /*margin-top: -175px;*/
}


.copy {
    color: #333;
    font-size: 18px;
    margin: 2em auto;
    padding: 1em;
    /*font-family: 'Raleway';*/
    /*font-family: 'Pontano Sans', sans-serif;*/
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 400;
    /*opacity: 0.8;*/
    max-width: 620px;
    text-align: justify;
    /*display: inline-block;*/
    /*position: absolute;*/
}


.btn {
    width: 48px;
    margin: 5px;
}

.btn-default-no-border {
    border: none !important;
}

.btn-rnd {
    /*border: 1px solid rgba(61,61,61, 0.2);*/
    /*opacity: 0.5;*/
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background-color: rgba(245,245,245, 0.2);
    box-shadow: 2px 2px 2px rgba(61,61,61, 0.5);
    padding: 5px;
    text-align: center;
    margin-left: 1em;
}


.modal {
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: #333333;
    background-color: #fff;
}


.bigbtn {
    padding: 0.5em;
    border: 4px solid #ddd;
    border-radius: 80px;
    width: 80px;
    height: 80px;
    margin: 1em auto;
}

.minibtn {
    /*padding: 0.5em;*/
    /*border: 1px solid #ddd !important;*/
    /*background-color: #ddd;*/
    color: crimson !important;
    /*border-radius: 40px !important;*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*margin: 1em auto;*/
    /*color: rgba(61, 61, 61, 0.4);*/
}
