   

        .menubg {
          /* background-image: url('sky.jpg');
          filter: grayscale(100%);
          background-size: cover; */
         }  
       
       #impressum:target {
          display: block;
          animation: fadein 0.5s;
        }

        #settings:target {
          display: block;
          animation: fadein 0.5s;
        }
       
        #bio:target {
          display: block;
          animation: fadein 0.5s;
        }
        
        #likes:target {
          display: block;
          animation: fadein 0.5s;
        }

        #skills:target {
          display: block;
          animation: fadein 0.5s;
        }
        
        #speaker:target {
          display: block;
        }

        #textarbeit:target {
          display: block;
        }

        #cases:target {
          display: block;
        }
        
        #albert1:target {
          display: block;
        }
       
        #wepsi:target {
          display: block;
        }

        #einzigartig:target {
          display: block;
        }

        #downloads:target {
          display: block;
        }

      
