body {
    font-family: "ff-nexus-typewriter", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    color: #000fff;
    margin: 0 auto;
    padding: 0 25px;
  }
  
  .button,
  .buttonxs
   {
    border: 1px solid #000fff;
    background-color: #000fff;
    color: white;
    padding: 15px;
    font-size: 1em;
    cursor: pointer;
  }
  
  .cta {
    font-family: "ff-nexus-typewriter", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-color: blue;
  }

  .ql-toolbar, .ql-snow {
    font-family: "ff-nexus-typewriter", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    border-color: blue !important;
    max-width: 720px; /* Set the maximum width */
  }

  #text {
    font-family: "ff-nexus-typewriter", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-color: blue;
    max-width: 720px; /* Set the maximum width */
    max-height: 360px; /* Set the maximum width */
  }
  
  .descr,
  label {
    font-family: "courier", serif;
    font-weight: 400;
    font-style: normal;
    color: blue;
    margin-top: 2em;
    font-size: 0.9em;
  }

  .ribbon {
    margin: 0 auto;
    width: 100%;
    height: 125px;
    position: fixed;
  }

  .modal, .modal > ul {
    margin: 0 auto;
    padding: 0 25px;
    background-color: white;
  }

    
  .modal {
    position: fixed;
    /*background-color: #000;*/
    background-color: white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*padding: 0 25px;*/
    z-index: 999;
    transition: all 0.3s;     
    overflow: auto;  
    padding-bottom: 2em;
  }

    .close a {
    color: #000fff;
    text-decoration: none;
  }

  .nodeco a {
    color: #000fff;
    text-decoration: none;
  }

  a {
    color: #000fff;
    cursor: pointer;
    /* text-decoration: underline; */
}

a:visited {
    color: #000fff;
}

input[type=button], .button {
    border: 1px solid #000fff;
    background-color: transparent;
    text-decoration: none;
    color: #000fff;
    padding: 15px;
    font-size: 1em;
    cursor: pointer;
  }
  
  input:disabled[type=button] {
    border: 1px solid grey;
    background-color: transparent;
    color: grey;
    padding: 15px;
    cursor: pointer;
  }
  
  input[type=buttonxs], .buttonxs {
    border: 1px solid #000fff;
    background-color: transparent;
    color: #000fff;
    padding: 2px 15px;
    font-size: .8em;
    text-align: center;
    cursor: pointer;
  }

  input[type=submit], .submit {
    border: 1px solid #000fff;
    background-color: transparent;
    text-decoration: none;
    color: #000fff;
    padding: 15px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
  }

  input[type=logout], .logout {
    /* border: 1px solid #000fff;
    background-color: transparent;
    color: #000fff;
    padding: 2px 15px;
    font-size: .8em;
    text-align: center;
    cursor: pointer; */
    border: 1px solid #000fff;
    background-color: transparent;
    text-decoration: none;
    color: #000fff;
    padding: 15px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
  }
  
  input:disabled[type=buttonxs] {
    border: 1px solid grey;
    background-color: transparent;
    color: grey;
    padding: 2px 15px;
    font-size: .8em;
    text-align: center;
    cursor: pointer;
  }
  
  input[type=link] {
    text-decoration: underline;
    border: none;
    background-color: transparent;
    color: #000fff;
    font-size: 1em;
    cursor: pointer;
  }
  
  input:disabled[type=link] {
    text-decoration: underline;
    border: none;
    background-color: transparent;
    color: grey;
    font-size: 1em;
    cursor: pointer;
  }
  
  input[type=linkxs] {
    text-decoration: underline;
    border: none;
    background-color: transparent;
    color: #000fff;
    font-size: .8em;
    cursor: pointer;
  }
  
  input:disabled[type=linkxs] {
    text-decoration: underline;
    border: none;
    background-color: transparent;
    color: grey;
    font-size: .8em;
    cursor: pointer;
  }

  .fc-button-active {
    color: whitesmoke !important;
  }

  .fc-button:hover {
    color: whitesmoke !important;
  }
  
  .fc-event {
    background-color: #000fff !important;
  }

  .fc-h-event {
    background-color: #000fff !important;
  }

    .highlight-today {
        background-color: #000fff; 
        font-weight: bold; /* Bold text for today */
    }

    .clear-search {
      color: #000fff; 
    }

  :root {
    --fc-small-font-size: .85em;
    --fc-page-bg-color: #fff !important;
    --fc-neutral-bg-color: grey !important;
    --fc-neutral-text-color: grey !important;
    --fc-border-color: #ddd;
    --fc-button-text-color: #000fff !important;
    --fc-button-bg-color: none !important;
    --fc-button-border-color: #000fff !important;
    --fc-button-hover-bg-color: #000fff !important;
    --fc-button-hover-border-color: #000fff !important;
    --fc-button-active-bg-color: #000fff !important;
    --fc-button-active-border-color: #000fff !important;
    --fc-event-bg-color: #000fff !important;
   /* --fc-event-border-color: none !important; */
    --fc-event-text-color: whitesmoke !important;
    --fc-event-selected-overlay-color: rgba(0,0,0,.25);
    --fc-more-link-bg-color: #000fff;
    --fc-more-link-text-color: inherit;
    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;
    --fc-non-business-color: grey !important;
    --fc-bg-event-color: #8fdf82;
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: black !important;
    --fc-today-bg-color: rgba(256, 256, 256, .2) !important;
    --fc-now-indicator-color: red;
}